---
import CreatorsPage from '../components/CreatorsPage.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entertainment Logger - Creators">
	<main>
		<CreatorsPage client:load />
	</main>
</Layout>
