---
import IndexPage from '../components/IndexPage.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entertainment Logger - Franchises">
	<main>
		<IndexPage client:load />
	</main>
</Layout>
