---
import FranchisePage from '../components/FranchisePage.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entertainment Logger - Franchises">
	<main>
		<FranchisePage client:load />
	</main>
</Layout>
