---
import LoginComponent from '../components/pages/Login.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entertainment Logger - Login">
	<main>
		<LoginComponent client:load />
	</main>
</Layout>
