---
import RegisterComponent from '../components/pages/Register.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entertainment Logger - Register">
	<main>
		<RegisterComponent client:load />
	</main>
</Layout>
